<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<div id="header">

    <nav>
        <a href="__APP__">首页</a>

        <if condition="$_SESSION['user_id'] eq '' ">
            <a href="__MODULE__/Login/register">注册</a>
            <a href="__MODULE__/Login/login">登录</a>

            <else />
            <span>欢迎，{$Think.session.user_name}</span>
            <a href="__MODULE__/User/index">个人中心</a>
            <a href="__MODULE__/Login/logout">退出</a>
        </if>

    </nav>
    <hr>
</div>


<!--登录-->
<div>
    <form action="" method="post" >
        用户名：<input type="text" name="name"> <br>
        密码：<input type="password" name="pass">  <br>
        <input type="submit" value="登录">
    </form>
</div>



</body>
</html>