
	<div class="main-container container-fluid">
		<div class="page-container">
            <!-- Page Sidebar -->

            <include file="Public:left" />

            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->

                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">


                            系统首页

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

