
	<div class="main-container container-fluid">
		<div class="page-container">
            <!-- Page Sidebar -->

            <include file="Public:left" />

            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li><a href="#">系统</a></li>
                        <li class="active">用户管理</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '__CONTROLLER__/add'"> <i class="fa fa-plus"></i> 添加用户</button>
<button type="button" tooltip="批量删除" class="btn btn-sm btn-azure btn-addon" onClick="javascript:document.getElementById('myForm').submit()"> <i class="fa fa-plus"></i> 批量删除</button>

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center" width="2%"></th>
                                <th class="text-center">用户ID</th>
                                <th class="text-center">用户名</th>
                                <th class="text-center">注册时间</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                        <form action="__CONTROLLER__/Adelete" method="post" id="myForm" >

                        <volist name="list" id="vo">
                           <tr>
                                <td align="center">
                                    <input type="checkbox" name="id[]" value="{$vo.ad_id}">
                                </td>
                                <td align="center">{$vo.id}</td>
                                <td align="center">{$vo.name}</td>
                                <td align="center">{$vo.time|date="Y-m-d",###}</td>

                                <td align="center">
                                    <a href="__CONTROLLER__/edit/id/{$vo.id}" class="btn btn-primary btn-sm shiny">
                                        <i class="fa fa-edit"></i> 编辑
                                    </a>

                                    <a href="#" onClick="warning('确实要删除吗', '__CONTROLLER__/delete/id/{$vo.id}')" class="btn btn-danger btn-sm shiny">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>

                                    <a href="javascript:;" onclick="users({$vo.id})" class="btn btn-primary btn-sm shiny"  >
                                        <i class="fa fa-edit"></i> 查看用户详情
                                    </a>

                                    <a href="" class="btn btn-primary btn-sm shiny" data-toggle="modal" data-target="#myModal2">
                                        <i class="fa fa-edit"></i> 编辑用户详情
                                    </a>
                                </td>
                            </tr>
                        </volist>

                        </form>

                        </tbody>

                    </table>
                    {$page}
                </div>
                <div>
                	                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>



    <!--模态框，用来弹框的，查看用户详情-->
    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="Label">查看用户详情</h4>
                </div>
                <div class="modal-body" id="select_user_info">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="sex" class="col-sm-4 control-label">性别</label>
                            <label for="sex" class="col-sm-2  control-label" id="sex_zhanshi"></label>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-4 control-label">生日</label>
                            <label for="sex" class="col-sm-2  control-label" id="birthday_zhanshi"></label>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-4 control-label">真实姓名</label>
                            <label for="sex" class="col-sm-2  control-label" id="realname_zhanshi"></label>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-4 control-label">省</label>
                            <label for="sex" class="col-sm-2  control-label" id="sheng_zhanshi"></label>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-4 control-label">市</label>
                            <label for="sex" class="col-sm-2  control-label" id="shi_zhanshi"></label>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-4 control-label">区</label>
                            <label for="sex" class="col-sm-2  control-label" id="qu_zhanshi"></label>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="close_myModal1(this)">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--模态框，用来弹框的，编辑用户详情-->
    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑用户详情</h4>
                </div>
                <div class="modal-body">


                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="sex" class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="sex"  name="sex" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-2 control-label">生日</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="birthday"  name="birthday" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-2 control-label">真实姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="zsname"  name="zsname" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-2 control-label">省份</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="sheng"  name="sheng" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-2 control-label">城市</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="shi"  name="shi" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-2 control-label">区域</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="qu"  name="qu" value="">
                            </div>
                        </div>

                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>


   <script>

       function users(id){
           $.post("__CONTROLLER__/ajax_userInfo", { id: id },
                   function(data){

                        //alert(typeof(data));//需要看后台返回的是json字符串 还是对象，如果是字符串的话需要parse解析一下，如exercise的例子；如果直接是对象的话不用解析，直接打印就行，thinkphp就是直接是对象
                        //alert(data.pic);
                       //alert( data);
//                       alert( data == '0');

                       if(data == '0' ){
//                           $('#select_user_info').empty();
                           $('#select_user_info').text('用户未录入详细信息');
                       } else {
                           $('#sex_zhanshi').html(data.sex);
                           $('#birthday_zhanshi').html(data.birthday);
                           $('#realname_zhanshi').html(data.zsname);
                           $('#sheng_zhanshi').html(data.sheng);
                           $('#shi_zhanshi').html(data.shi);
                           $('#qu_zhanshi').html(data.qu);

                           $('#myModal1').modal('show');
                       }
                   });
       }


       function close_myModal1(){
           $('#myModal1').modal('hide');
       }








   </script>