
	<div class="main-container container-fluid">
		<div class="page-container">
            <!-- Page Sidebar -->

            <include file="Public:left" />

            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li><a href="#">系统</a></li>
                        <li class="active">订单管理</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="添加管理员" class="btn btn-sm btn-azure btn-addon" onClick="javascript:;"> <i class="fa fa-plus"></i> 订单列表</button>


<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center" width="2%"></th>
                                <th class="text-center">订单ID</th>
                                <th class="text-center">订单号</th>
                                <th class="text-center">购买者</th>
                                <th class="text-center">下单时间</th>
                                <th class="text-center">收货地址</th>
                                <th class="text-center">订单状态</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                        <form action="__CONTROLLER__/Adelete" method="post" id="myForm" >

                        <volist name="list" id="vo">
                           <tr>
                                <td align="center">
                                    <input type="checkbox" name="id[]" value="{$vo.id}">
                                </td>
                                <td align="center">{$vo.id}</td>
                                <td align="left"><a href="__CONTROLLER__/goodList/id/{$vo.id}">{$vo.code}</a></td> <!--查商品表，需要传入订单id，多对多查所有商品-->
                                <td align="center">{$vo.name}</td>
                                <td align="center">{$vo.time|date="Y-m-d H:i:s",###}</td>
                                <td align="center"><a href="__CONTROLLER__/address/uid/{$vo.uid}">收货地址</a></td>  <!--查收货地址，需要传入用户id，来关联查地址表-->
                                <td align="center">{$vo.osname}</td>
                                <td align="center">
                                    <a href="__CONTROLLER__/edit/id/{$vo.id}" class="btn btn-primary btn-sm shiny">
                                        <i class="fa fa-edit"></i> 编辑
                                    </a>
                                </td>
                            </tr>
                        </volist>

                        </form>

                        </tbody>

                    </table>
                    {$page}
                </div>
                <div>
                	                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

